/* styles.css */
a{
    text-decoration: none;
}

ul.horizontal-list {
    list-style: none;
    padding: 0;
}

ul.horizontal-list li {
    display: inline;
    margin: 0;
}

ul.horizontal-list li {
    margin: 0 20px;
}

.btn{
    background-color: green;
    height: 40px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}
