<h1 style="text-align: center">New cards</h1>
<div style="text-align: center">
  <ul class="horizontal-list">
    <li *ngFor="let card of storeCardsList">
      <a href="">
        <div style="display: inline-flex; padding: 10px;">
          <app-card
            style="color: black;"
            [attack]="card.card.attack"
            [defense]="card.card.defense"
            [imageUrl]="card.card.imageUrl"
            [health]="card.card.defense"
            [name]="card.card.name"
          ></app-card>
          <span style="margin-left: 10px;"></span>
        </div>
      </a>
    </li>
  </ul>
</div>