<div style="padding: 20px; background-color: black;"><h1 style="font-weight: bold;">Mon Deck</h1></div>
<div style="padding: 20px; background-color: black;">
    <mat-form-field>
      <mat-label>Select an option</mat-label>
      <mat-select [(value)]="selectedFiltre">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let f of lesFiltres" [value]="f">{{f}}</mat-option>
      </mat-select>
      </mat-form-field>

      <button mat-button (click)="Filtrage()">Filter</button>
</div>
<div style="display: inline-flex; padding: 10px;" *ngFor="let item of truecardlist">
  <app-card style="color: black;" [attack]="item.attack" [defense]="item.defense" [imageUrl]="item.imageUrl" [health]="item.defense" [name]="item.name"></app-card>
  <span style="margin-left: 10px;"></span>
</div>
<div style="padding: 20px; background-color: black;"><h1 style="font-weight: bold;">Toutes les Cartes</h1></div>
<div style="padding: 20px; background-color: black;">
  <mat-form-field>
    <mat-label>Select an option</mat-label>
    <mat-select [(value)]="selectedFiltreAllCards">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let f of lesFiltres" [value]="f">{{f}}</mat-option>
    </mat-select>
    </mat-form-field>

    <button mat-button (click)="FiltrageAllCards()">Filter</button>
</div>

<div style="display: inline-flex; padding: 10px;" *ngFor="let item of AllCards">
  <app-card style="color: black;" [attack]="item.attack" [defense]="item.defense" [imageUrl]="item.imageUrl" [health]="item.defense" [name]="item.name"></app-card>
  <span style="margin-left: 10px;"></span>
</div>